/* CSS declarations go here */
body {
  font-family: sans-serif;
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}

.text-wrapper {
  position: relative;
  .text-correct, .text-incorrect {
    top: 0;
    left: 0;
    margin-top: 0;
  }
  .transparent {
    width: 100%;
    height: 105%;
    top: 0;
    left: 0;
  }
  .text-correct {
    z-index: 2;
    color: #0e0;
    display: inline-block;
    span {
      background: white;
    }
  }
  .text-incorrect {
    z-index: 1;
    color: red;
    display: inline-block;
    span {
      background: red;
    }
  }
}

.absolute {
  position: absolute;
}